version: "3"

services:
  database:
    image: postgres:alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: defaultdb
    restart: always
    ports:
      - "5432:5432"
    volumes:
      - dbdata:/var/lib/postgresql/data
      - dbconfig:/etc/postgresql
      - ./db_create.sql:/docker-entrypoint-initdb.d/db_create.sql
      - ./db_insert.sql:/docker-entrypoint-initdb.d/db_insert.sql
    entrypoint: docker-entrypoint.sh -c 'config_file=/etc/postgresql/postgresql.conf'
volumes:
  dbdata:
  dbconfig:
    driver: local
    driver_opts:
      type: "none"
      o: "bind"
      device: "$PWD/database"
